<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Portfolio Page</title>
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
    <link href="{{ url_for('static', filename ='portfoliopage.css') }}" rel="stylesheet" />
    <title>Document</title>
</head>
<body>
    <div class="navbar"> 
        <img class = 'stocklogo' src="{{ url_for('static', filename = 'stocklogo.png') }}">
        <nav>
            <ul id = 'subpages'>
                <li style="left:200px;"><a href="/">REGISTER</a></li>
                <li><a href="signin.html">LOG IN</a></li>
                <li><a href="home.html">HOME</a></li>
                <li><a href="portfolio.html">ACCOUNT</a></li>
            </ul>
        </nav>
    </div>
    <br><br><br><br><br><br><br><br><br><br>

    <div class = "bottomsection">

        <div class = "leftsection">
            <div class = "topleftsection">
                <h1 class = "accountvaluetitle">Account Value</h1>
                <h2 class = "accountvaluenum">$0.00</h2>
                <table class = "accountvaluetable">
                    <tbody>
                        <tr>
                            <td class = "accountvalueth"> Market Value </th>
                            <td class = "accountvalueth"> Cash Balance </th>
                            <td class = "accountvalueth">  Risk Level </th>
                        </tr>
                        <tr>
                            <td class = "accountvaluetd">
                                0
                            </td>
                            <td class = "accountvaluetd">
                                0
                            </td>
                            <td class = "accountvaluetd">
                                0
                            </td>
                        </tr>
                        
                    </tbody>
                </table>
                
            </div>

            <div class = "bottomleftsection">
                <h1 class="transactionstitle">Transactions</h1>
                <table class = "transactiontable">
                    <thead>
                        <tr class = "transactionthead"> 
                            <td class = "transactionth"> Market Value </th>
                            <td class = "transactionth"> Cash Balance </th>
                            <td class = "transactionth">  Risk Level </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class = "transactiontd">
                                0
                            </td>
                            <td class = "transactiontd">
                                0
                            </td>
                            <td class = "transactiontd">
                                0
                            </td>
                        </tr>
                        
                    </tbody>
                </table>
            </div>

        </div>

        <div class = "rightsection">
            <div class = "positionsdiv">
                <h1 class="positionstitle">Positions</h1>
                <table class = "transactiontable">
                    <thead>
                        <tr class = "transactionthead"> 
                            <td class = "transactionth"> Market Value </th>
                            <td class = "transactionth"> Cash Balance </th>
                            <td class = "transactionth">  Risk Level </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class = "transactiontd">
                                0
                            </td>
                            <td class = "transactiontd">
                                0
                            </td>
                            <td class = "transactiontd">
                                0
                            </td>
                        </tr>
                        
                    </tbody>
                </table>
            </div>

            
        </div>

    </div>
    
</body>
</html>