<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Page</title>
    <link href="{{ url_for('static', filename ='main.css') }}" rel="stylesheet" />
</head>
<body>

    <div class="navbar"> 
        <img class = 'stocklogo' src="{{ url_for('static', filename = 'stocklogo.png') }}">
        <nav>
            <ul id = 'subpages'>
                <li style="left:200px;"><a href="/">REGISTER</a></li>
                <li><a href="signin.html">LOG IN</a></li>
                <li><a href="home.html">HOME</a></li>
                <li><a href="portfolio.html">ACCOUNT</a></li>
            </ul>
        </nav>
    </div>

    <div class = "centerdiv">

    {% block content %}
        <div class="content-section">
            <form method="POST" action="">
                {{ form.hidden_tag() }}
                <fieldset class="form-group" style="">
                    <div class="form-group" >
                        {{ form.username.label(class="form-control-label") }}
                        {% if form.username.errors %}
                            {{ form.username(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.username.errors%}
                                    <span>{{error}}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.username(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    
                    {% if form.username.errors %}
                        {{ form.username(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.username.errors%}
                                <span>{{error}}</span>
                            {% endfor %}
                        </div>
                    {% endif %}
                    <div class="form-group">
                        {{ form.email.label(class="form-control-label") }}
                        {% if form.email.errors %}
                            {{ form.email(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                            {% for error in form.email.errors%}
                                <span>{{error}}</span>
                            {% endfor %}
                            </div>
                        {% else %}
                            {{ form.email(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="form-group" >
                        {{ form.phonenumber.label(class="form-control-label") }}
                        {% if form.phonenumber.errors %}
                            {{ form.phonenumber(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.phonenumber.errors%}
                                    <span>{{error}}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.phonenumber(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="form-group" >
                        {{ form.firstname.label(class="form-control-label") }}
                        {% if form.firstname.errors %}
                            {{ form.firstname(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.firstname.errors%}
                                    <span>{{error}}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.firstname(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="form-group" >
                        {{ form.lastname.label(class="form-control-label") }}
                        {% if form.lastname.errors %}
                            {{ form.lastname(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.lastname.errors%}
                                    <span>{{error}}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.lastname(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.password.label(class="form-control-label") }}
                        {% if form.password.errors %}
                            {{ form.password(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                            {% for error in form.password.errors%}
                                <span>{{error}}</span>
                            {% endfor %}
                            </div>
                        {% else %}
                            {{ form.password(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.confirm_password.label(class="form-control-label") }}
                        {% if form.confirm_password.errors %}
                            {{ form.confirm_password(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                            {% for error in form.confirm_password.errors%}
                                <span>{{error}}</span>
                            {% endfor %}
                            </div>
                        {% else %}
                            {{ form.confirm_password(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class = 'submit'>
                        {{ form.submit(class = "btn btn-outline-info") }}
                        {{ form.csrf_token }}
                    </div>
                </fieldset>
            </form>
        </div>
    {% endblock content %}
    
    
    </div>
</body>
</html>