body {
    height: 100%;
    background-color: rgb(43, 43, 43);
}
html {
    height: 100%;
}
.logo {
    float: left;
    height: 80px;
    width: auto;
    margin: 10px;
}
nav ul {
    float: left;
    list-style: none;
    text-align: right;
    padding-top: 20px;
    margin-left: 0px;
}
.container {
    background-color: lightgreen;
    position: fixed;
    width: 100%;
    top: 0px;
}
.container::after {
    content: '';
    display: table;
    clear: both;
}
nav li {
    float: left;
    margin-left: 14px;

}
nav a {
    text-decoration: none;
    color: black;
    font-size: 21px;
}
.maintitle {
    color: white;
    background-image: url("stockbackground.jpeg");
    text-align: center;
    text-transform: capitalize;
    margin: 0px;
    height: 75px;
    font-size: 40px;
    padding: 125px 0px 125px;
}
canvas {
    margin: auto;
    display: block;
    background-color: rgb(43, 43, 43);
    align-content: center;
}
.greenmessage {
    color: rgb(0,204,0);
}
.redmessage {
    color: rgb(139,0,0);
}
.leftalign {
    float: left;
    height: 100%;
    width: 66.5%;
    background-color: rgb(43, 43, 43);

}
.rightalign{
    float: left;
    height: 100%;
    width: 33.5%;
    background-color: rgb(43, 43, 43);
    

}
.watchlistandnews {

}
#Watchlist {
    text-align: center;
}
#stockinfo1 {
    list-style: none;
    margin: 0px 0px 0px;
    padding: 0px 0px 0px;
}
.leftcharttd {
    width: 30%;
    padding: 10px;
    text-align: center;
}
.rightcharttd {
    width: 70%;
}
.stockgraph {
    width: 100%;
    padding
}
h5 {
    margin: 0px 0px 0px;
}
h3 {
    margin: 0px 0px 0px;
}
.majorindexes {
    width: 100%;
}
.majorindexestable {
    width: 100%;
    padding-bottom: 20px;
    background-color: rgb(43, 43, 43);
}
.indexh2 {
    margin: 0px 0px 0px;
}
.indextablerows {
    border-left: 5px solid white;
    border-right: 5px solid white;
}
table td + td { border-left:2px solid white; }

.newsh1 {
    text-align: center;
}
.newsdiv {
    background-color: rgb(43, 43, 43);
    margin-bottom: 20px;
    width: 100%;
    border: 2px solid white;
}
.newsanchor {
    text-decoration: none;}
.newsimage {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 100px;
    height: 100px;
}
.leftpartofnewsanchor {
    width: 40%;
    float: left;
}
.rightpartofnewsanchor {
    width: 60%;
}
h1, h2, h3, h4, h5, p, th, td, b {
    color: white;

}
fieldset, legend {
    background-color: rgb(43, 43, 43);
    border: 3px solid white;
}
.formdiv {
    background-color: rgb(43, 43, 43);
}
legend, .form-control-label, input {
    color: white;
}
#submit {
    background-color: rgb(43, 43, 43);
    border: 3px solid white;
}
#lineChart {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 2px solid white;
}
#ticker {
    border: 2px solid white;
    background-color:  rgb(43, 43, 43);
}
fieldset {
    margin-bottom: 10px;
}