{% extends "home-base.html" %}
{% block home %}
<!-- Body Header -->
<header id="header">
    <title>Go Go Grocery</title>
	<link rel="icon" href="{{ url_for('static', filename = 'images/grocerylogo.jpeg') }}">
    <div class="logo">
        <span class="icon">
            <img src="{{ url_for('static', filename='images/grocerylogo.jpeg') }}" alt="Heatwave SVG" class = 'homeimage'>
            <style>
                .homeimage {
                    max-width: 100%;
                    max-height: 100%;
                    border-radius: 70px;
                    left: 100px;
                }
            </style>

        </span>
    </div>

<!-- Enter Location without logging-in -->
    <div class="content">
        <div class="inner">
        <!-- Location Header -->
            <h1>Go Go Grocery</h1>

        <!-- Location Form -->
            {% block location_form %} {% endblock location_form %}
        </div>
    </div>

<!--
    Links to the home-page articles: about, docs
    Links to login and registration pages: login, register
-->
    <nav>
        <ul>
            <li><a href="#about">About</a></li>
            <li><a href="{{ url_for('login') }}">Login</a></li>
            <li><a href="{{ url_for('register') }}">Register</a></li>
            <li><a href="#docs">Docs</a></li>
            <!--<li><a href="#elements">Elements</a></li>-->
        </ul>
    </nav>
</header>

<!-- Main -->
<div id="main">

    <!-- About -->
        <article id="about">
            <h2 class="major">About</h2>

            <!--<span class="image main"><img src="{{ url_for('static', filename='images/pic01.jpg') }}" alt="" /></span> -->
            <p>Simply a page that helps people avoid the stress of having to go all the way to various stores in order to get 
                their desired products when they could easily purchase them online!!!
            </p>
            <p>Here are some examples of statistics of how most people use online shopping.
                 <a href="https://superfood.digital/online-grocery-store-ecommerce-statistics/#:~:text=1%20By%202021%2C%20eMarketer%20estimates%20the%20market%20to,market%20will%20increase%20to%20%24117%20billion%20by%202023">click here!</a> 
                 We are here to give them more insight and convenience to be both users and buyers!</p>
        </article>

    <!-- Documentation -->
        <article id="docs">
            <h2 class="major">Documentation</h2>
            <h3>Product Usage</h3>
            <p> Anyone who needs to buy or sell grocries. This is an easier 
                and conducive way of trading without having to go all the way
                 to the store. This enables users to both purchase and sell groceries.
                 </p>
            <h3>Aspects of Functionality</h3>
            <p>A user has the option to register and become a buyer or register and be a seller.
                Regitration is done by inputing your full names, address and password. 
                <br> 
                Once the information 
                has been entered, the user will be taken to a page with that various stores and can add
                anything they wish to purchase in the cart. They can also register products that they
                 have to sell for other users to purchase 
            </p>
            <h3>Architecture of a Technical Product</h3>
                <div class="doc_page_technical_elements">
                <h4>Languages used:</h4>
                    <ul>
                        <li>Python</li>
                        <li>HTML</li>
                        <li>CSS</li>
                    </ul>
                </div>
                <div class="doc_page_technical_elements" >
                <h4>APIs used:</h4>
                    <ul>
                        <li>CalorieNinjas</li>
                        <li>Geoapify</li>
                        <li>Google Maps</li>
                    </ul>
                
                </div>
                <div class="doc_page_technical_elements" >
                <h4>Other Resources:</h4>
                    <ul>
                        <li>JavaScript</li>
                        <li>Flask</li>
                        <li>SQLAlchemy</li>
                    </ul>
                
                </div>
            <div id="contact_part">
            <h3>More about the creators</h3>
            <ul>
                <li><a href="https://github.com/AdelinaKachinda">Adelina Kachinda |</a></li>
                <li><a href="https://github.com/teshome-p">Christian Teshome |</a></li>
                <li><a href="https://github.com/RubenG1019">Ruben Genao |</a></li>
                <li><a href="https://github.com/RubenG1019">Justin Hall |</a></li>
                <li><a href="https://github.com/TMS345">Gershom Gbadebo </a></li>

            </ul>
            <p>*Click on our names to be redirected to our git hub pages*</p>
            </div>

        </article>

</div>
{% endblock home %}