<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StocksFinder</title>
    <link rel="stylesheet" href="{{ url_for('static', filename ='style.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="icon" href="{{ url_for('static', filename ='stocklogo.png') }}">
</head>
<body>
    <div class="container">
        <img class = 'logo' src="{{ url_for('static', filename = 'stocklogo.png') }}">
        <nav>
            <ul id = 'subpages'>
                <li><a href="home.html">HOME</a></li>
                <li><a href="register.html">REGISTER</a></li>
                <li><a href="login.html">LOGIN</a></li>
                <li><a href="stocksearch.html">STOCK SEARCH</a> </li>
            </ul>
        </nav>
    </div> 
    <h1 class = 'maintitle'> StocksFinder </h1>

    <div class = 'majorindexes'>
        <Table class = "majorindexestable">
            <tr class = 'indextablerows'>
                <th> <b> <h2 class="indexh2"> NASDAQ </h2> </b> </th>
                <th> <b> <h2 class="indexh2"> S&P 500 </h2> </b> </th>
                <th> <b> <h2 class="indexh2"> DOW JONES </h2> </b> </th>
            </tr>
            <tr class = 'indextablerows'>
                {% for index in majorindexes %}
                    {% for ticker in index %}
                        <td class = "indexcharttd">
                            <canvas id="{{ticker}}" width="250" height="125"></canvas>
                            {% if index[ticker]['Trend'] == "Up" %}
                                <script>
                                    var canvas = document.getElementById("{{ticker}}");
                                    var ctx = canvas.getContext("2d");
                
                                    var lineChart = new Chart(ctx, {
                                        type: 'line',
                                        data: {
                                            labels: {{ index[ticker]['Date'] | safe }},
                                            datasets: [
                                                {
                                                label: 'DataPoints',
                                                pointRadius: [0],
                                                data: {{ index[ticker]['Close'] | safe }},
                                                fill: true,
                                                backgroundColor: "rgba(57,255,20,.7)",
                                                borderColor: "rgba(0,204,0,.7)",
                                                lineTension: 0.1
                                                }
                                            ]
                                        },
                                        options: {
                                            responsive:false,
                                            scales: {
                                                x: {
                                                    display: false,
                                                },
                                                y: {
                                                    display: false,
                                                },
                                            },
                                            plugins: {
                                                legend: {
                                                    display: false
                                                },
                                            },
                                        }
                                    });
                                </script>
                            {% else %}
                                <script>
                                    var canvas = document.getElementById("{{ticker}}");
                                    var ctx = canvas.getContext("2d");
                
                                    var lineChart = new Chart(ctx, {
                                        type: 'line',
                                        data: {
                                            labels: {{ index[ticker]['Date'] | safe }},
                                            datasets: [
                                                {
                                                label: 'DataPoints',
                                                pointRadius: [0],
                                                data: {{ index[ticker]['Close'] | safe }},
                                                fill: true,
                                                backgroundColor: "rgba(255, 49, 49, .7)",
                                                borderColor: "rgba(139,0,0,.7)",
                                                lineTension: 0.1
                                                }
                                            ]
                                        },
                                        options: {
                                            responsive:false,
                                            scales: {
                                                x: {
                                                    display: false,
                                                },
                                                y: {
                                                    display: false,
                                                },
                                            },
                                            plugins: {
                                                legend: {
                                                    display: false
                                                },
                                            },
                                        }
                                    });
                                </script>
                            {% endif %}       

                        </td>
                    
                    {% endfor %}
                {% endfor %}
            </tr>
        </Table>

    </div>
    <div class = "watchlistandnews">
        <div class = 'leftalign'>
            <h1 class = 'newsh1'> Financial News </h1>
            {% for news in stocknews %}
                <div class = "newsdiv">

                    <a href=" {{ news['link'] }} " target="_blank" class= "newsanchor">

                        <div class = 'leftpartofnewsanchor'>
                            {% if news['image_url'] != None %}
                                <img src=" {{ news['image_url'] }} " class = "newsimage">
                            {% else %}
                                <img src=" {{ url_for('static', filename ='stocklogo.png') }} " class = "newsimage">
                            {% endif %}
                        </div>
                        <div class = 'rightpartofnewsanchor'>
                            <h3 class = "newsanchortext"> <b> {{ news['title'] }} </b> </h3>
                            <br>
                            <h5 class = 'newsanchortext'> {{ news['description'] }} </h5>
                        </div>
                        
                    </a>
                    
                </div>
            {% endfor %}
        </div>


        <div class = "rightalign">
            <h1 id = 'Watchlist'>My Watchlist</h1>
            {% for stock in stocklists %}
                {% for ticker in stock %}
                    <table class = "stockgraph">
                        <tr>
                            <td class = "leftcharttd">
                                <div>
                                    <ul id = 'stockinfo1'>
                                        <li> <h3> <b>{{ ticker }}</b> </h3> </li>
                                        <li> <h5> <b>{{ "$%.2f"|format(stock[ticker]['Close'][stock[ticker]['Close'] |length  - 1]) }}</b> </h5> </li>
                                        {% if stock[ticker]['Trend'] == "Up" %}
                                            <li> <b> <h5 class = 'greenmessage'> +{{ "$%.2f"|format(stock[ticker]['PriceChange']) }}</h5> <h5 class = "greenmessage"> +{{ "$%.2f"|format(stock[ticker]['PercentChange']) }}% </h5> </b> </li>
                                        {% else %}
                                            <li> <b> <h5 class = 'redmessage'> -{{ "$%.2f"|format(stock[ticker]['PriceChange']) }}</h5> <h5 class = "redmessage"> -{{ "$%.2f"|format(stock[ticker]['PercentChange']) }}% </h5> </b> </li>
                                        {% endif %}
                                    </ul>
                                </div>
                                
                            </td>
            
                            <td class = "rightcharttd">
                                <div>
                                    <canvas id="{{ticker}}" width="300" height="75"></canvas>
                                    {% if stock[ticker]['Trend'] == "Up" %}
                                        <script>
                                            var canvas = document.getElementById("{{ticker}}");
                                            var ctx = canvas.getContext("2d");
                        
                                            var lineChart = new Chart(ctx, {
                                                type: 'line',
                                                data: {
                                                    labels: {{ stock[ticker]['Date'] | safe }},
                                                    datasets: [
                                                        {
                                                        label: 'DataPoints',
                                                        pointRadius: [0],
                                                        data: {{ stock[ticker]['Close'] | safe }},
                                                        fill: true,
                                                        backgroundColor: "rgba(57,255,20,.7)",
                                                        borderColor: "rgba(0,204,0,.7)",
                                                        lineTension: 0.1
                                                        }
                                                    ]
                                                },
                                                options: {
                                                    responsive:false,
                                                    scales: {
                                                        x: {
                                                            display: false,
                                                        },
                                                        y: {
                                                            display: false,
                                                        },
                                                    },
                                                    plugins: {
                                                        legend: {
                                                            display: false
                                                        },
                                                    },
                                                }
                                            });
                                        </script>
                                    {% else %}
                                        <script>
                                            var canvas = document.getElementById("{{ticker}}");
                                            var ctx = canvas.getContext("2d");
                        
                                            var lineChart = new Chart(ctx, {
                                                type: 'line',
                                                data: {
                                                    labels: {{ stock[ticker]['Date'] | safe }},
                                                    datasets: [
                                                        {
                                                        label: 'DataPoints',
                                                        pointRadius: [0],
                                                        data: {{ stock[ticker]['Close'] | safe }},
                                                        fill: true,
                                                        backgroundColor: "rgba(255, 49, 49, .7)",
                                                        borderColor: "rgba(139,0,0,.7)",
                                                        lineTension: 0.1
                                                        }
                                                    ]
                                                },
                                                options: {
                                                    responsive:false,
                                                    scales: {
                                                        x: {
                                                            display: false,
                                                        },
                                                        y: {
                                                            display: false,
                                                        },
                                                    },
                                                    plugins: {
                                                        legend: {
                                                            display: false
                                                        },
                                                    },
                                                }
                                            });
                                        </script>
                                    {% endif %}       
                                </div>
                            </td>
                        </tr>
                    </table>
                {% endfor %}
            {% endfor %}
        </div>
    </div>
    

</body>
</html>
